<h1><%= "#{t(:listing)} #{t(:genres)}" %></h1>

<table>
  <tr>
	<th><%= t(:acronym)%></th>
    <th><%= t(:name)%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @genres.each do |genre| %>
  <tr class="<%= cycle('odd', 'even') %>">
	<td><%= genre.acronym %></td>    
	<td><%= genre.name %></td>
    <td><%= link_to t(:show), genre, :class => 'button' %></td>
    <td><%= link_to t(:edit), edit_genre_path(genre), :class => 'button' %></td>
    <td><%= link_to t(:destroy), genre, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "#{t(:new)} #{t(:genre)}", new_genre_path, :class => 'button' %>
