<%= form_for(@media) do |f| %>
  <% if @media.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media.errors.count, "error") %> prohibited this media from being saved:</h2>

      <ul>
      <% @media.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form"> 
  <div class="field">
    <%= f.label t(:title) %><br />
    <%= f.text_field(:title, :size => "50") %>
  </div>
  <div class="field">
    <%= f.label t(:duration) %><br />
    <%= f.text_field(:time, :size => "3") %>
  </div>
  <div class="field">
    <%= f.label t(:description) %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label t(:mediaType) %><br />
	<%= f.select(:mediaType_id,  options_from_collection_for_select(@mediaTypes, :id, :name, (unless @media.mediaType.nil? then @media.mediaType.id end ))) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
