<h1><%=t :listing%> <%=t(:medias)%></h1>

<table class="grade">
  <tr>
	<th><%= t(:code) %></th>
    <th><%= t(:title) %></th>
    <th><%= t(:mediaType) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medias.each do |media| %>
  <tr class="<%= cycle('odd', 'even') %>">
	<td><%= media.genre.acronym %><%= media.code %></td>
    <td><%= media.title %></td>
    <td><%= media.mediaType.name %></td>
    <td><%= link_to t(:show), media, :class => 'button' %></td>
    <td><%= link_to t(:edit), edit_media_path(media), :class => 'button' %></td>
    <td><%= link_to t(:destroy), media, :class => 'button', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "#{t(:new)} #{t(:media)}", new_media_path, :class => 'button' %>
