<h1><%=t :listing%> <%=t(:medias)%></h1>

<div class="span-20">
<%= form_tag medias_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :query, params[:query], :size => 80 %>
    <%= positive_button_submit_tag "Buscar" %>
	<br>
	<%= @medias.total_entries %> Mídia(s) Encontrada(s).
  </p>
<% end %>
</div>
<div class="span-3">
	<%= add_button_link_to "#{t(:new)} #{t(:media)}", new_media_path %>
</div>

<table class="grade clear">
  <tr>
	<th><%= t(:code) %></th>
    <th><%= t(:title) %></th>
    <th><%= t(:media_type) %></th>
	<th><%= t(:media_status) %></th>
    <th></th>
  </tr>

<% @medias.each do |media| %>
  <tr class="<%= cycle('odd', 'even') %>">
	<td><%= media.full_code %></td>
    <td><%= media.title %></td>
    <td><%= media.media_type.name unless media.media_type.nil? %></td>
	<td><%= media.media_status.description unless media.media_status.nil? %></td>
	<td class="no-wrap">
		<%= button_group do %>
			<%= pill_positive_button_link_to(t(:lend), lend_media_path(media)) if media.available?%>
			<%= pill_positive_button_link_to(t(:return), return_media_path(media)) if media.lent?%>
			<%= pill_button_link_to t(:show), media %>
			<%= pill_button_link_to t(:edit), edit_media_path(media) %>
			<%= pill_negative_button_link_to t(:destroy), media, :confirm => 'Tem certeza?', :method => :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate @medias %>
