<p id="notice"><%= notice %></p>

<h2><%= @media.title %></h2>

<p>
  <b><%=t :author %>:</b>
  <%= @media.author %>
</p>

<p>
  <b><%=t :code %>:</b>
  <%= @media.full_code %>
</p>

<p>
  <b><%=t :mediaType %>:</b>
  <%= @media.mediaType %>
</p>

<p>
  <b><%=t :genre %>:</b>
  <%= @media.genre.name %>
</p>

<p>
  <b><%=t :description %>:</b>
  <%= @media.description %>
</p>

<p>
  <b><%=t :duration %>:</b>
  <%= @media.time %>
</p>

<%= link_to t(:edit) , edit_media_path(@media), :class => 'button' %> 
<%= link_to t(:back) , medias_path, :class => 'button' %>

<br/><br/><br/><br/>
<p>
	<%= link_to "#{t(:new)} #{t(:media)}", new_media_path, :class => 'button' %>
</p>