<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= t(:pending, :count => @person.errors.count)%>:</h2>
      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span-24 last">
  <div class="span-9">
    <h4 class="subtitle">Dados Gerais</h4>
    <%= f.label t(:name) %><br/>
    <%= f.text_field :name %><br/>	

    <%= f.label t(:rg) %><br/>
    <%= f.text_field :rg %><br/>

    <%= f.label t(:cpf) %><br/>
    <%= f.text_field :cpf %><br/>

    <%= f.label t(:birth_date) %><br/>
    <%= f.text_field :birth_date %><br/>

    <%= f.label t(:gender) %><br/>
    <%= f.text_field :gender %><br/>

    <%= f.label t(:marital_status) %><br/>
    <%= f.text_field :marital_status %><br/>
  </div>
  <div class="span-1"></div>
  <div class="span-9 last">
  	<h4 class="subtitle">Endereço</h4>
    <%= f.label t(:address) %><br/>
    <%= f.text_field :address %><br/>

    <%= f.label t(:neighborhood) %><br/>
    <%= f.text_field :neighborhood %><br/>

    <%= f.label t(:zip_code) %><br/>
    <%= f.text_field :zip_code %><br/>

    <%= f.label t(:city) %><br/>
    <%= f.text_field :city %><br/>

    <%= f.label t(:state) %><br/>
    <%= f.text_field :state %><br/>
  </div>

  <div class="clear span-9">
    <h4 class="subtitle">Contato</h4>
    <%= f.label t(:home_phone) %><br/>
    <%= f.text_field :home_phone, :size => 10 %><br/>

    <%= f.label t(:work_phone) %><br/>
    <%= f.text_field :work_phone, :size => 10 %><br/>

    <%= f.label t(:cell_phone) %><br/>
    <%= f.text_field :cell_phone, :size => 10 %><br/>

    <%= f.label t(:email) %><br/>
    <%= f.text_field :email %><br/>
  </div>
  <div class="span-1"></div>
  <div class="span-9 last">
    <h4 class="subtitle">Escola</h4>
    <%= f.label t(:sign_up_date) %><br/>
    <%= f.date_select :sign_up_date %><br/>
 
    <%= f.label t(:graduation_date) %><br/>
    <%= f.date_select :graduation_date %><br/>

    <%= f.label :status, 'Ativo' %><br/>
    <%= f.check_box :status %><br/>

    <%= f.label t(:person_class) %><br/>
    <%= f.text_field :person_class %><br/>

	<%= f.label t(:exit_date) %><br/>
    <%= f.date_select :exit_date %><br/>
  </div>

</div>
<%= f.submit %>
<% end %>
