<h1><%= t(:listing) %> <%= t(:people) %></h1>

<div class="span-20">
<%= form_tag people_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Buscar", :name => nil %>
	<%= @people.total_entries %> Pessoa(s) Encontrada(s).
  </p>
<% end %>
</div>

<table class="grade">
  <tr>
    <th><%= t(:name) %></th>
    <th><%=t(:birth_date) %></th>
    <th><%=t(:cell_phone) %></th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= person.name %></td>
    <td><%= person.birth_date %></td>
    <td><%= person.cell_phone %></td>
    <td><%= person.status ? t(:active) : t(:inactive) %></td>
    <td><%= link_to t(:show), person, :class => 'button' %></td>
    <td><%= link_to t(:edit), edit_person_path(person), :class => 'button' %></td>
    <td><%= link_to t(:destroy), person, :class => 'button', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @people %>
<br />

<%= link_to "#{t(:new)} #{t(:person)}", new_person_path, :class => 'button' %>
