<h2><%= @person.name %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b><%=t(:status)%>:</b>
  <%= t(@person.status_description) %>
</p>

<p>
  <b>RG:</b>
  <%= @person.rg %>
</p>

<p>
  <b>CPF:</b>
  <%= @person.cpf %>
</p>

<p>
  <b><%= t(:birth_date) %> :</b>
  <%= @person.birth_date %>
</p>

<p>
  <b><%=t(:gender)%>:</b>
  <%= @person.gender %>
</p>

<p>
  <b><%=t(:civil_state)%>:</b>
  <%= @person.civil_state %>
</p>

<h3>Contato</h3>

<p>
  <b><%=t(:home_phone)%>:</b>
  <%= @person.home_phone %>
</p>

<p>
  <b><%=t(:comercial_phone)%>:</b>
  <%= @person.comercial_phone %>
</p>

<p>
  <b><%=t(:cel_phone)%>:</b>
  <%= @person.cel_phone %>
</p>

<h3>Endereço</h3>

<p>
  <b><%=t(:address)%>:</b>
  <%= @person.address %>
</p>

<p>
  <b><%=t(:neighborhood)%>:</b>
  <%= @person.neighborhood %>
</p>

<p>
  <b><%=t(:city)%>:</b>
  <%= @person.city %>
</p>

<p>
  <b><%=t(:state)%>:</b>
  <%= @person.state %>
</p>

<p>
  <b><%=t(:zip_code)%>:</b>
  <%= @person.cep %>
</p>

<h3>Escola</h3>

<p>
  <b><%=t(:sign_up_date)%>:</b>
  <%= @person.sign_up_date %>
</p>

<p>
  <b><%=t(:graduation_date)%>:</b>
  <%= @person.graduation_date %>
</p>


<%= link_to t(:back), people_path, :class => 'button' %>
<%= link_to t(:edit), edit_person_path(@person), :class => 'button' %>

