<%= form_for(@media_type) do |f| %>
  <% if @media_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media_type.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% @media_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @media_type.name %></h3>

  <div class="field">
    <%= f.label t(:loan_days) %><br />
    <%= f.text_field :loan_days %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
