<p id="notice"><%= notice %></p>

<h1><%= @media_type.name %></h1>

<p>
  <b><%= t(:loan_days)%>:</b>
  <%= @media_type.loan_days %>
</p>



<%= link_to t(:edit), edit_media_type_path(@media_type), :class => 'button' %> 
<%= link_to t(:back), media_types_path, :class => 'button' %>
