<h1><%=t :listing%> <%=t(:museum_items)%></h1>

<div class="span-19">
<%= form_tag museum_items_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :query, params[:query], :size => 80 %>
    <%= positive_button_submit_tag "Buscar" %>
	<br>
	<%= @museum_items.total_entries %> item(ns) encontrado(s).
  </p>
<% end %>
</div>
<div class="span-4">
	<%= add_button_link_to "#{t(:new)} #{t(:museum_item)}", new_museum_item_path %>
</div>

<table class="grade clear">
  <tr>
	<th><%= t('activerecord.attributes.museum_item.picture') %></th>
	<th><%= t('activerecord.attributes.museum_item.inventory_number') %></th>
	<th><%= t('activerecord.attributes.museum_item.name') %></th>
	<th><%= t('activerecord.attributes.museum_item.acquisition_date') %></th>
    <th></th>
  </tr>

<% @museum_items.each do |museum_item| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= image_tag museum_item.picture.url(:thumb) %></td>
    <td><%= museum_item.inventory_number %></td>
    <td title='<%= museum_item.name %>'><%= museum_item.name.truncate(40) %></td>
    <td><%= museum_item.acquisition_date %></td>
	<td>
		<%= button_group do %>
			<%= pill_button_link_to t(:show), museum_item %>
			<%= pill_button_link_to t(:edit), edit_museum_item_path(museum_item) %>
			<%= pill_negative_button_link_to t(:destroy), museum_item, :confirm => 'Tem certeza?', :method => :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate @museum_items %>
