<h1>Acervo do Museu</h1>

<table>
  <tr>
	<th><%= t('activerecord.attributes.museum_item.picture') %></th>
	<th><%= t('activerecord.attributes.museum_item.id') %></th>
	<th><%= t('activerecord.attributes.museum_item.name') %></th>
	<th><%= t('activerecord.attributes.museum_item.origin') %></th>
	<th><%= t('activerecord.attributes.museum_item.age') %></th>
	<th><%= t('activerecord.attributes.museum_item.material') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @museum_items.each do |museum_item| %>
  <tr>
    <td><%= image_tag museum_item.picture.url(:thumb) %></td>
    <td><%= museum_item.id %></td>
    <td title='<%= museum_item.name %>'><%= museum_item.name.truncate(20) %></td>
    <td><%= museum_item.origin %></td>
    <td><%= museum_item.age %></td>
    <td><%= museum_item.material %></td>
    <td><%= link_to t(:show), museum_item, :class => :button %></td>
    <td><%= link_to t(:edit), edit_museum_item_path(museum_item), :class => :button %></td>
    <td><%= link_to t(:destroy), museum_item, method: :delete, data: { confirm: 'Você está certo disso?' }, :class => :button %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new)+' '+t(:museum_item), new_museum_item_path, :class => 'button' %>
