%h2 Devolução de #{@loan.media.media_type.name}

%h3
	#{@loan.media.title}

%p
	%b
		= t :author
		= @loan.media.author

%p
	%b
		= t :code
		= @loan.media.full_code

%p
	%b Aluno
	= @loan.person.name

%p
	%b Previsão de Devolução
	= @loan.return_preview_date
 
= pill_button_link_to 'Confirmar Devolução', cofirm_return_media_path(@loan.media)
