<!DOCTYPE html>
<html>
<head>
  <title>Mercurio</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="logo">
		<img src="/images/logo.gif"/>
	</div>
	
	<p id="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<div id="user_nav">
	  <% if user_signed_in? %>
		<%= render "menu" %>
	  <% else %>
		<%= render "login" %>
	  <% end %>
	</div>

	<div id="main">
		<%= yield %>
	</div>

	<div class="footer">
		<hr/>
		Mercúrio - Academia de Filosofia&nbsp;&nbsp;
	</div>

</body>
</html>
